@model nopCommerce.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


                
                <div class="fleft"> @Html.TextBoxFor(m => m.UserName,new { @placeholder = "Email*" })
                @Html.ValidationMessageFor(m => m.UserName)</div>
          
               
                <div class="fleft"> @Html.PasswordFor(m => m.Password,new { @placeholder = "Password*" })
               @Html.ValidationMessageFor(m => m.Password)</div>
     <div class="clear"></div>
     <div class="remember_me" style="color:white"><label> @Html.CheckBoxFor(m => m.RememberMe)Remember Password?</label></div>
        
    
        <input type="submit" value="Log in" />

    <p>
        @Html.ActionLink("Register", "Register") <font style="color:white">if you don't have an account.</font>
    </p>
}
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@


