@model nopCommerce.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1> 
    @Html.ValidationSummary(true)  
</hgroup>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "Regform" }))
{
    @Html.AntiForgeryToken()
  

   
               <div class="fleft">
                @Html.TextBoxFor(m => m.UserName,new { @placeholder = "Email*" })@Html.ValidationMessageFor(m => m.UserName)</div>
           
              <div class="fleft"> 
                @Html.PasswordFor(m => m.Password,new { @placeholder = "Password*" })@Html.ValidationMessageFor(m => m.Password)</div>
            
                <div class="fleft">
                @Html.TextBoxFor(m => m.StoreName, new { @placeholder = "Store Name*" })@Html.ValidationMessageFor(m => m.StoreName)</div>
         <div class="clear"></div>
        <input type="submit" value="Register" onclick="JavascriptFunction();" />
   
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

